{% extends 'base.html' %}

{% block head_content %}
    <title>Home</title>
{% endblock %}             
{% block container %}
    <H1>Last words</H1>
    {%for word in words%}
    {% if user.is_authenticated and profile == word.user %}
        <a href="{%url 'edit_word'  pk=word.id%}">
        <span class="glyphicon glyphicon-pencil"></span>
      </a>
      <a href="{%url 'delete_word' pk=word.id%}" type="submit">
        <span class="glyphicon glyphicon-trash"></span>
      </a>
    {% endif %}
    <h3><a href="{%url 'detail_word' pk=word.id%}">{{ word.title}}</a></h3> 
    <p><strong>Genres:</strong> {% for genre in word.genre.all %} {{ genre }}{% if not forloop.last %},{% endif %}{% endfor %}</p>  
    <p>{{ word.meaning}}</p>
    <p>{{ word.created}} by {{word.user}}</p>

    {% for complement in word.complement_set.all %}
    <a href="">{{complement.title}}</a>{% if not forloop.last %},{% endif %}
    {% endfor %}
    <hr>
 

    {%endfor%}

    <ul class="pagination justify-content-end">
        {%if page_obj.has_previous %}
            <li class="page-item" >
                <a class="page-link" href="?page={{page_obj.previous_page_number}}">
                    Previous
                </a>
            </li>
        {%endif%}
        <li class="page-item" >
            <a class="page-link" href="#">
                {{page_obj.number}} of {{page_obj.paginator.num_pages}}
            </a>
        </li>
            
        {%if page_obj.has_next %}
            <li class="page-item" >
                <a class="page-link" href="?page={{page_obj.next_page_number}}">
                    Next
                </a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            </li>
        {%endif%}
    </ul>
{% endblock%}
