{% extends 'base.html' %}

{% block head_content %}
    <title>Home</title>
{% endblock %}             
{% block container %}
    <H1>Last words</H1>
    {%for word in words%}
    {% if user.is_authenticated and profile == word.user %}
        <a href="{%url 'edit_word'  pk=word.id%}" style="">
        <span class="glyphicon glyphicon-pencil"></span>
      </a>
      <form method="POST" action="{% url 'delete_word' pk=word.id %}">
      <a href="{%url 'delete_word' pk=word.id%}" type="submit">
        <span class="glyphicon glyphicon-trash"></span>
      </a>
    </form>

      <form method="POST" action="{% url 'delete_word' pk=word.id %}">
        {% csrf_token %}<input type="submit" value="DELETE" class="glyphicon glyphicon-trash">
     </form>
    {% endif %}
    <h3>{{ word.title}}</h3>
    <h4>{{ word.meaning}}</h4>
    <h5>{{ word.created}} by {{word.user}}</h5>
    <br>
    
       

    {%endfor%}

    <ul class="pagination justify-content-end">
        {%if page_obj.has_previous %}
            <li class="page-item" >
                <a class="page-link" href="?page={{page_obj.previous_page_number}}">
                    Previous
                </a>
            </li>
        {%endif%}
        <li class="page-item" >
            <a class="page-link" href="#">
                {{page_obj.number}} of {{page_obj.paginator.num_pages}}
            </a>
        </li>
            
        {%if page_obj.has_next %}
            <li class="page-item" >
                <a class="page-link" href="?page={{page_obj.next_page_number}}">
                    Next
                </a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            </li>
        {%endif%}
    </ul>
{% endblock%}
